.container {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.container img {
  height: 20rem;
  width: 100%;
  transition: filter 0.5s;
}

.container img.lazy-load {
  filter: blur(10px);
}
